
@font-face {
  font-family: "PlayfairDisplay";
  src: url("../Fonts/PlayfairDisplay-BoldItalic.ttf");
}
@font-face {
  font-family: "RobotoMono";
  src: url("../Fonts/RobotoMono-SemiBold.ttf");
  font-weight: bold;
}
@font-face {
  font-family: "RobotoMono";
  src: url("../Fonts/RobotoMono-Regular.ttf");
  font-weight: normal;
}
a{
  text-decoration: none;
  color:black;
}
body{
  background: #DDDDDD;
  margin: 0;
  text-align: center;
}
.upper_bar{
  position: relative;
  bottom: 21px;
  background: #1B1A17;
  text-align: right;
  height: 50px;
  width: 100%;
}
.img_fire{
  padding-left: 30px;
  width: 50px;
  float:left;
}
.upper_bar_options{
padding-top: 30px
}
.sobre_mi{
margin-right: 30px;
text-decoration: none;
color: white;
}
.proyectos{
margin-right: 30px;
text-decoration: none;
color: white;
}
.contacto{
margin-right: 30px;
text-decoration: none;
color: white;
}
.presentation_row{
  display: inline-block;
  position: relative;
  top:120px;
  background: none;
  /* background: blue; */
  width: 1100px;
  height:640px;
  margin:auto;
}
.presentation_photo{
  position: relative;
  border-radius: 20%;
  width: 480px;
  margin-left: 0;
  margin-right: 30px;
  float:left;
}
.nombre{
  font-family:PlayfairDisplay;
  font-size: 48px;
  padding-top: 250px;
  margin: 0;
  font-size: 20;
}
.description{
  font-family: RobotoMono;
  font-size: 25px;
  margin: 10px;
}
.brand_name{
  font-family: RobotoMono;
  font-weight: bold;
  font-size: 28px;
}
.hr_1{
  margin-top: 260px;
  width: 20%;
}
